<div class="notification-page">

  <!-- Header -->
  <div class="header">

    <div class="bell-circle">
      <i class="bi bi-bell-fill"></i>
    </div>

    <h1>Notifications</h1>

    <p>
      Manage your reminders
    </p>

  </div>

  <!-- Reminder Card -->
  <div class="notification-card">

    <div class="notification-item">

      <div class="left">

        <div class="icon pink">
          🩸
        </div>

        <div>
          <h3>Period Reminder</h3>
          <p>
            Get notified before period starts
          </p>
        </div>

      </div>

      <input type="checkbox" checked>

    </div>

    <div class="divider"></div>

    <div class="notification-item">

      <div class="left">

        <div class="icon yellow">
          🌼
        </div>

        <div>
          <h3>Fertile Window Alert</h3>
          <p>
            Reminder during fertile days
          </p>
        </div>

      </div>

      <input type="checkbox">

    </div>

    <div class="divider"></div>

    <div class="notification-item">

      <div class="left">

        <div class="icon purple">
          💜
        </div>

        <div>
          <h3>Ovulation Reminder</h3>
          <p>
            Track ovulation day
          </p>
        </div>

      </div>

      <input type="checkbox">

    </div>

  </div>

  <!-- Info Box -->
  <div class="info-box">

    <i class="bi bi-info-circle-fill"></i>

    <p>
      Notifications help you stay updated
      about your cycle and health.
    </p>

  </div>

</div>