<div class="entry-page">

  <div class="entry-header">
    <h1>Today</h1>
  </div>

  <div class="card">

    <h2>Period</h2>

    <div class="period-buttons">

      <button class="start-btn">
        Start
      </button>

      <button class="end-btn">
        End
      </button>

    </div>

  </div>

  <div class="card">
    <h2>Flow</h2>

    <div class="flow-levels">
      <span>💧</span>
      <span>💧</span>
      <span>💧</span>
      <span>💧</span>
    </div>
  </div>

  <div class="card">
    <h2>Note</h2>

    <textarea
      placeholder="Write something">
    </textarea>
  </div>

  <div class="card">
    <h2>Symptoms</h2>

    <div class="symptoms">

      <button>Headache</button>
      <button>Muscle Pain</button>
      <button>Mood Swing</button>
      <button>Cramps</button>

    </div>
  </div>

</div>

<app-bottom-navbar></app-bottom-navbar>