<div class="bottom-nav">

  <a
    routerLink="/today"
    routerLinkActive="active"
    class="nav-item"
  >

    <i class="bi bi-flower1"></i>

    <span>
      Today
    </span>

  </a>

  <a
    routerLink="/calendar"
    routerLinkActive="active"
    class="nav-item"
  >

    <i class="bi bi-calendar3"></i>

    <span>
      Calendar
    </span>

  </a>

  <div class="add-btn">

    <i class="bi bi-plus-lg"></i>

  </div>

  <a
    routerLink="/self-care"
    routerLinkActive="active"
    class="nav-item"
  >

    <i class="bi bi-heart"></i>

    <span>
      Self Care
    </span>

  </a>

  <a
    routerLink="/analysis"
    routerLinkActive="active"
    class="nav-item"
  >

    <i class="bi bi-bar-chart-fill"></i>

    <span>
      Analysis
    </span>

  </a>

</div>