<div class="self-care-page">

  <h1>Self Care</h1>
  <p class="subtitle">
    Take care of your body today
  </p>

  <div class="video-grid">

    <!-- Period Relief -->
    <div class="video-card">
      <h2>Period Pain Relief</h2>

      <iframe
      src="https://www.youtube.com/embed/LIsYbDCMfDc?si=Olq5AYxwiVJPRiBD"
        title="Period Pain Relief"
        allowfullscreen>
      </iframe>
    </div>

    <!-- Yoga -->
    <div class="video-card">
      <h2>Yoga For Cramps</h2>

      <iframe
        src="https://www.youtube.com/embed/4JaCcp39iVI"
        title="Yoga For Cramps"
        allowfullscreen>
      </iframe>
    </div>

    <!-- Foot Massage -->
    <div class="video-card">
      <h2>Foot Massage</h2>

      <iframe
        src= "https://www.youtube.com/embed/xvxBwqhwXzY"
        title="Foot Massage"
        allowfullscreen>
      </iframe>
    </div>

    <!-- Meditation -->
    <div class="video-card">
      <h2>Relax Meditation</h2>

      <iframe
        src="https://www.youtube.com/embed/inpok4MKVLM"
        title="Meditation"
        allowfullscreen>
      </iframe>
    </div>
    <!-- Sanitary Pad -->
<div class="video-card">

  <h2>Sanitary Pad Care</h2>

  <iframe
    src="https://www.youtube.com/embed/J6bZsI1pi_o?si=czCgyF8IlSvz1uxx "
    title="Pad Usage"
    allowfullscreen>
  </iframe>

</div>

<!-- Hygiene -->
<div class="video-card">

  <h2>Keep Hygiene</h2>

  <iframe
    src="https://www.youtube.com/embed/qFLElwY-SYE?si=L1u3eKhpu6jICfJZ"
    title="Hygiene"
    allowfullscreen>
  </iframe>

</div>

<!-- Healthy Food -->
<div class="video-card">

  <h2>Healthy Foods</h2>

  <iframe
    src="https://www.youtube.com/embed/CldEimYgd_g?si=lKdihUM3rjWlRles  "
    title="Healthy Food"
    allowfullscreen>
  </iframe>

</div>

<!-- Light Exercise -->
<div class="video-card">

  <h2>Light Exercise</h2>

  <iframe
    src="https://www.youtube.com/embed/8BcPHWGQO44"
    title="Exercise"
    allowfullscreen>
  </iframe>

</div>

  </div>

</div>

<app-bottom-navbar></app-bottom-navbar>